{% extends "base.html" %}
{% block header %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src={{url_for('static', filename = 'functions.js')}} type="text/javascript"></script>
	<!--<script src={{url_for('static', filename = 'tutorial.js')}} type="text/javascript"></script>-->
	<script src={{url_for('static', filename = 'quiz.js')}} type="text/javascript"></script>
	<script src={{url_for('static', filename = 'reports.js')}} type="text/javascript"></script>
	<script src={{url_for('static', filename = 'kanjisheets.js')}} type="text/javascript"></script>
	<script src={{url_for('static', filename = 'settings.js')}} type="text/javascript"></script>
{% endblock %}
	
{% block body %}
<div class="reason">
	<p id="reason"></p>
</div>
<nav class="homemenu">
	<span id="aspan">About Us</span>
	<span id="qspan">Quizzes</span>
	<span id="rspan">Progress Report</span>
	<span id="kspan">Kanji Sheet</span>
	<!--<span id="tspan">Site Tutorial</span>-->
	<span id="sspan">User Settings</span>
	<span id="lspan">Reading Material</span>
	<a href={{url_for('logout')}}><span>Logout</span></a>
</nav>



<!--Will only show one of these sections at a time. Default is About Us-->
<section id="about">
	<h2>About Us</h2>
	<p>KanjiMaster.com is based on research based upon the motivations a learner has when studying a foreign language. These can range from long term
		to short term goals in varying degrees of seriousness. We recognize that someone who is studying Japanese to learn about pop culture will have vastly
		different motivations than someone who is studying it for business related purposes. Regardless, we have used research to investigate how
		people learn kanji and from there have implemented various means to help with kanji literacy.
	</p>
	<p>It is important to note what this site covers and what it does not. KanjiMaster.com is only meant to be used as a literacy study aide. It is not
		meant to teach grammar, listening, speaking, or any other aspect of the Japanese language. When learning a language it is important to keep these
		tasks separate in order to maximize progress made in each field.
	</p>
	<p>Some of the features this site includes are based around the idea of keeping the user motivated to continue learning the Japanese language. This 
		includes using goals around the website to remind the user why they are still studying the language. A user can change these reminders at any 
		time if these were to change. We also utilize mandatory breaks from taking quizzes. These are used not only to give the user a break and not
		have them burn out on studying, but also to try to encourage long-term memorization of kanji over short-term memorization. The site also breaks
		down the user's goals into long term and short term goals. The long term goals is updated only as the user needs to do so and is permanently 
		displayed in the header of the user's page. Short term goals are set on a weekly basis, the user is reminded to keep these goals practical.
		Different cultural reference links are also included in order to keep the user interested in learning by giving them outside experience in
		becoming literate in a way that fits the user's personal interests.
	</p>
	<p>More information about the design of the site along with more details on research can be found in the document below.</p>
	<a href={{url_for('static', filename = 'Draft.docx')}} download>University of Pittsburgh, JPNSE 1999 Capstone Paper by Jordan Carr (Rough Draft)</a>
</section>

<!--Show all information on what quizzes you can take-->
<section id="quiz">
	<div class='d_container'>
		<!--<div class='dialogue' id='d1'><p id='p1'></p><input type='submit' id='n1' value="Next"/></div>-->
		<div class="sticker"><img src={{url_for('static', filename = 'ddlc_stickers/s_sticker_1.png')}} id='sticker'/></div>
	</div>
	<nav>
		<span><input type="submit" id="ka" value="Katakana"/></span>
		<span><input type="submit" id="hi" value="Hiragana"/></span>
		<span><input type="submit" id="g1" value="JWL Lesson 9"/></span>
		<span><input type="submit" id="g2" value="JWL Lesson 10"/></span>
		<span><input type="submit" id="g3" value="JWL Lesson 11"/></span>
		<span><input type="submit" id="g4" value="JWL Lesson 12"/></span>
		<span><input type="submit" id="g5" value="JWL Lesson 13"/></span>
		<span><input type="submit" id="g6" value="JWL Lesson 14"/></span>
		<span><input type="submit" id="g7" value="JWL Lesson 15"/></span>
	</nav>
	<h5>Take a Quiz</h5>
	<p>
		Take a quiz based on your kanji proficiency. The grades are not necessarily in order of difficulty, but rather they are
		just different categories upon which can choose from. To practice a certain set of kanji, select that class. Each quiz is around
		30 questions. Each question is a multiple choice question asking you to match a kanji with it's romaji reading. You may take the
		quizzes as many times as you wish.
		<br />
		All kanji are take from Japanese: The Written Language Part 1 by Eleanor Harz Jorden and Mari Noda.
	</p>
</section>

<!--Show all information on progress reports-->
<section id="reports" display="none">
	<div class="sticker"><img src={{url_for('static', filename = 'ddlc_stickers/n_sticker_1.png')}} id='n_sticker'/></div>
	<h4>Progress Reports</h5>
	<p>Here you will find a report of how well you are doing on your kanji quizzes<p>
	<input type="submit" id="refresh" value="Refresh"/>
	<div class = "report_container">
		<h5>Overall Statistics</h5>
		<div id="overall">
		</div>
		<h5>Individual Reports</h5>
		<div id="ind">
		</div>	
	</div>
</section>

<!--Store all of the game information-->
<section id="game" display="none">
	<div class="sticker"><img src={{url_for('static', filename = 'ddlc_stickers/s_sticker_1.png')}} id='s_sticker'/></div>
	<div class="sticker"><img src={{url_for('static', filename = 'ddlc_stickers/s_sticker_2.png')}} id='s_sticker2'/></div>
	<p>Match the kanji compound with it's reading by clicking on the correct answer.</p>
	<span id="question"></span>
	<nav>
		<span><input type="submit" id="c1" value="" class="choice"/></span>
		<span><input type="submit" id="c2" value="" class="choice"/></span>
		<span><input type="submit" id="c3" value="" class="choice"/></span>
		<span><input type="submit" id="c4" value="" class="choice"/></span>
	</nav>
	<input type="submit" id="quit" value="Quit Quiz" class="choice"/>
	<p id='feedback' class='invalid'></p>
	<!--
	<input type='submit' id="mute" value = "Mute Audio" class="choice"/>
	<audio loop id="gameAudio">
		<source  src = {{url_for('static', filename = 'game.mp3')}} type="audio/mpeg">
	</audio>
	-->
	<!--Game hover button sound effect-->
	<audio id="but_hov">
		<source src={{url_for('static', filename = 'button.mp3')}} type="audio/mpeg">
	</audio>
	<!--Game correct answer ping-->
	<audio id="ping">
		<source scr={{url_for('static', filename = 'ping.mp3')}} type="audio/mpeg">
	</audio>
</section>

<!--Get the kanji sheets for the user -->
<section id="sheets" display="none">
	<div class="sticker"><img src={{url_for('static', filename = 'ddlc_stickers/y_sticker_1.png')}}/></div>
	<h4>Kanji Sheets</h4>
	<p>Study all the kanji you will be tested on.</p>
	<p>Search list for specific lessons</p>
	<select id="k_option">
		<option value="All">All</option>
		<option value="Hiragana">Hiragana</option>
		<option value="Katakana">Katakana</option>
		<option value="Lesson9">Lesson 9</option>
		<option value="Lesson10">Lesson 10</option>
		<option value="Lesson11">Lesson 11</option>
		<option value="Lesson12">Lesson 12</option>
		<option value="Lesson13">Lesson 13</option>
		<option value="Lesson14">Lesson 14</option>
		<option value="Lesson15">Lesson 15</option>
	</select>
	<input type='submit' value="Search" id='search'/>
	<table id="table">
		<tr>
			<th>Lesson</th>
			<th>Kanji</th>
			<th>Reading</th>
		</tr>
	</table>
</section>

<!--User settings -->
<section id="settings" display="none">
	<div class="sticker"><img src={{url_for('static', filename='ddlc_stickers/m_sticker_1.png')}}/></div>
	<div class="settings_container">
		<h4>User Settings</h4>
		<h5>User ID:</h5>
		<p id='userID'></p>
		<h5>Email:</h5>
		<p id='email'></p>
		<p>Change Email: <input type='text' id='new_email'/></p>
		<p id= 'response'></p>
		<input type='submit' id='change_e' value="Save"/>
		<h5>First Name:</h5>
		<p id="fname"></p>
		<h5>Last Name:</h5>
		<p id="lname"></p>
		<h5>Change Passord:</h5>
		<a href={{url_for('change_pass')}}><input type='submit' id='change_p' value="Click Here to Change Your Password"/></a>
		<h5>Change Reason for Learning Kanji</h5>
		<p>Enter your new reason for studying kanji:</p>
		<textarea name='reason' id='new_reason' maxlength=200 rows = 4 cols = 50></textarea>
		<p id='reason_response'></p>
		<input type='submit' id='change_r' value="Save"/>
		<br />
	</div>
</section>

<!--Links to outside reading material -->
<section id="links" display="none">
	<!--Will include all stickers here like on the login page -->
	<div class="sticker">
		<div class="sticker"><img src={{url_for('static', filename='ddlc_stickers/s_sticker_1.png')}}/></div>
		<div class="sticker"><img src={{url_for('static', filename='ddlc_stickers/n_sticker_1.png')}}/></div>
		<div class="sticker"><img src={{url_for('static', filename='ddlc_stickers/y_sticker_1.png')}}/></div>
		<div class="sticker"><img src={{url_for('static', filename='ddlc_stickers/m_sticker_1.png')}}/></div>
	</div>
	<div class="settings_container">
		<h2>Outside Reading Material</h2>
		<p>Are you looking for a way to improve your reading skills in real world applications that interests you? This is the page
			for you!!! Here you will find links to various outside reading materials on varying difficulty levels. It is recommended that you start on 
			some easier reading material and work you way to material that is more difficult. Remember, the journey of a thousand miles begins with a 
			single step. Don't overwhelm yourself with material that may be too challenging for your skill level. There is no shame in admitting your 
			limits as a second language learner. We hope you find a new way to explore your own interests in the Japanese language!
		</p>
		<h4>Beginner Level</h4>
		<p>If your Japanese studies have just begun, perhaps it's best to stick with these hiragana only resources.</p>
			<a href="http://life.ou.edu/stories/" target="_blank">Traditional Japanese Children's Stories</a><br />
			<p>Traditional Children's Fairy Tales</p>
			<a href="http://hukumusume.com/douwa/English/index.html" target="_blank">Hukumusume</a><br />
			<p>Traditional Children's Fairy Tales</p>
			<a href="https://www.ehonnavi.net/" target="_blank">EhonNavi</a><br />
			<p>Free Children's Picture Books</p>
			<a href="https://www.coscom.co.jp/newsweather/newsheadline/index.html" target="_blank">CosCom News</a><br />
			<p>Other Types of Beginner Reading Material</p>
			<a href="http://www.e-hon.jp/demo2/index1.htm" target="_blank">E-Hon</a>
			<p>Children's Picture Books</p>		
		<h4>Intermediate Level</h4>
		<p>So you understand better grammar and know a little bit of kanji, huh? Perhaps these resources are best for you.</p>
			<a href="http://watanoc.com/" target="_blank">Watanoc</a><br />
			<p>A Free Web Magazine in Simple Japanese</p>
			<a href="https://hirogaru-nihongo.jp/" target="_blank">Hirogaru</a><br />
			<p>A Site Containing Various Tidbits on Japanese Culture</p>
			<a href="https://matcha-jp.com/easy/" target="_blank">Matcha</a><br />
			<p>A Japanese Travel and Culture Magazine</p>
			<a href="http://www.nippontalk.com/en" target="_blank">Nippon Talk</a><br />
			<p>A Blog on Everyday Life in Japan</p>
			<a href="http://www3.nhk.or.jp/news/easy/" target="_blank">NHK News Web Easy</a><br />
			<p>NHK News Articles in Simple Japanese</p>
			<a href="https://kids.yahoo.co.jp/" target="_blank">Yahoo Kids</a><br />
			<p>News Articles, Lessons, and Games Aimed for Elementary Students</p>
			<a href="http://www.hiraganatimes.com/" target="_blank">Hiragana Times</a><br />
			<p>Articles About Japan in Simple Japanese</p>
			<a href="https://www.wasabi-jpn.com/japanese-lessons/fairy-tales-and-short-stories-with-easy-japanese/" target="_blank">Wasabi (Fairy Stories)</a><br />
			<p>A Collection of Japanese Fairy Stories</p>
			<a href="https://www.wasabi-jpn.com/japanese-lessons/materials-for-japanese-lessons-intensive-reading/" target="_blank">Wasabi (Manga)</a><br />
			<p>Same Site as Above, but with Manga Articles</p>
			<a href="http://language.tiu.ac.jp/materials/eng/" target="_blank">Reading Tutor</a>
			<p>A Bit Outdated, but Includes Bogs, Essays, and Other Materials</p>	
		<h4>Advanced Level</h4>
		<p>If you've gotten this far, you must be pretty good by now. You know alot more kanji and are probably ready to tackle works meant for native
			Japanese speakers. Proceed with caution: for second language learners these resources can be a bit challenging. It's okay if you can't quite
			understand these resources yet. If you can, great! However, it's important to know your limitations. If you up for challenge, these resources 
			are for you.
		</p>
			<h5>News</h5>
				<a href="https://www3.nhk.or.jp/" target="_blank">NHK</a><br />
				<p>Japanese National News Broadcaster</p>
				<a href="http://www.yomiuri.co.jp/" target="_blank">Yomiuri Shinbun</a><br />
				<p>National Newspaper</p>
				<a href="https://mainichi.jp/" target="_blank">Mainichi Shinbun</a><br />
				<p>National Newspaper</p>
				<a href="https://www.asahi.com/" target="_blank">Asahi Shinbun</a><br />
				<p>National Newspaper</p>
			<h5>Books</h5>
				<a href="http://www.aozora.gr.jp/" target="_blank">Aozora Bunko</a><br />
				<p>Free Digital Copies of Copyright-expired Books</p>
				<a href="https://www.gutenberg.org/browse/languages/ja" target="_blank">Project Gutenberg (Japanese)</a><br />
				<p>Another Site for Out-Of-Copyright Books</p>
				<a href="http://syosetu.com/" target="_blank">Shousetsuka ni narou</a><br />
				<p>A Site for Amateur Authors to Publish Their Works for Free</p>
				<a href="http://jti.lib.virginia.edu/japanese/" target="_blank">University of Virginia Japanese Text Initiative</a><br />
				<p>An Online Resource for Books</p>
			<h5>Manga</h5>
				<a href="https://comic-walker.com/" target="_blank">Comicwalker</a><br />
				<p>Free Manga From the Publisher Kadokawa</p>
				<a href="http://sai-zen-sen.jp/" target="_blank">Sai Zen Sen</a><br />
				<p>Free Online Manga</p>
				<a href="https://www.comico.jp/" target="_blank">Comico</a><br />
				<p>Free Online Manga</p>
	</div>
</section>


{% endblock %}