{% extends "base.html" %}
{% block header %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src={{url_for('static', filename = 'functions.js')}} type="text/javascript"></script>
{% endblock %}
	
{% block body %}
<nav class="homemenu">
	<span id="qspan">Quizzes</span>
	<span id="rspan">Progress Report</span>
	<span id="kspan">Kanji Sheet</span>
	<span id="tspan">Site Tutorial</span>
	<span id="sspan">User Settings</span>
	<a href={{url_for('logout')}}><span>Logout</span></a>
</nav>



<!--Will only show one of these sections at a time. Default is quizzes-->

<!--Show all information on what quizzes you can take-->
<section id="quiz">
	<div class="sticker"><img src={{url_for('static', filename = 'ddlc_stickers/s_sticker_1.png')}} id='sticker'/></div>
	<nav>
		<span><input type="submit" id="g1" value="Grade 1"/></span>
		<span><input type="submit" id="g2" value="Grade 2"/></span>
		<span><input type="submit" id="g3" value="Grade 3"/></span>
		<span><input type="submit" id="g4" value="Grade 4"/></span>
		<span><input type="submit" id="g5" value="Grade 5"/></span>
		<span><input type="submit" id="g6" value="Grade 6"/></span>
	</nav>
	<h5>Take a Quiz</h5>
	<p>
		Take a quiz based on your kanji proficiency. The grades are not necessarily in order of difficulty, but rather they are
		just different categories upon which can choose from. To practice a certain set of kanji, select that class. Each quiz is around
		30 questions. Each question is a multiple choice question asking you to match a kanji with it's romaji reading. You may take the
		quizzes as many times as you wish.
	</p>
</section>

<!--Show all information on progress reports-->
<section id="reports" display="none">
	<div class="sticker"><img src={{url_for('static', filename = 'ddlc_stickers/n_sticker_1.png')}} id='n_sticker'/></div>
	<h4>Progress Reports</h5>
	<p>Here you will find a report of how well you are doing on your kanji quizzes<p>
</section>

<!--Store all of the game information-->
<section id="game" display="none">
	<div class="sticker"><img src={{url_for('static', filename = 'ddlc_stickers/s_sticker_1.png')}} id='s_sticker'/></div>
	<div class="sticker"><img src={{url_for('static', filename = 'ddlc_stickers/s_sticker_2.png')}} id='s_sticker2'/></div>
	<p>Match the kanji compound with it's reading.</p>
	<span id="question"></span>
	<nav>
		<span><input type="submit" id="c1" value="" class="choice"/></span>
		<span><input type="submit" id="c2" value="" class="choice"/></span>
		<span><input type="submit" id="c3" value="" class="choice"/></span>
		<span><input type="submit" id="c4" value="" class="choice"/></span>
	</nav>
	<input type="submit" id="quit" value="Quit Quiz" class="choice"/>
	<p id='feedback' class='invalid'></p>
	<audio loop id="gameAudio">
		<source  src = {{url_for('static', filename = 'game.mp3')}} type="audio/mpeg">
	</audio>
	<!--Game hover button sound effect-->
	<audio id="but_hov">
		<source src={{url_for('static', filename = 'button.mp3')}} type="audio/mpeg">
	</audio>
</section>


{% endblock %}